extends ./layout

block contenido
    script(src='https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js')
    script.
        tinymce.init({selector:'textarea#edit'});
    // Main
    #main-wrapper
      .container
        #main
          .row
            section.editor
              header
                h2.titulo-art Edición de Artículos
              .formularioE
                form(action='#')
                  legend Favor llenar todos los datos
                  .contenedor-campos
                    .campo
                      label(for='nombreA') Nombre del Artículo
                    //-   input#nombreArt(type='text', name='nombreArticulo', placeholder='Ingresa el nombre')
                    .campo
                      label Categoría del Artículo
                      select#Categoria-Articulo(name='CategoriaA')
                    //-   sincronizar con la base de datos
                        option(value='1') Categoría 1
                        option(value='2') Categoría 2
                        option(value='3') Categoría 3
                    .campo-edit
                        textarea#edit
                    
                  .enviar
                    a.button(href='#') Guardar
                    a.button(href='#') Cancelar

