extends ./layout

include mixins/listarArticulo

block contenido
    #banner
        .container
            .row
                section
                a.image.full(href='#')
                  img(src='public/images/nicolas-prieto-h3deFHhXFI4-unsplash.jpg', alt='')
        +listarArticulo(articulo)
        