mixin crearArticulo()
    pre #{vardump(proyecto)}
    .formularioE
        form(action='/nueva_publicacion'  method="POST")
            legend Favor llenar todos los datos
            .contenedor-campos
                .campo
                    label(for='titulo') Nombre del Artículo
                    input(type='text' name='titulo' placeholder='Ingresa el nombre' id="titulo" required )
                .campo
                    label Categoría del Artículo
                    select#Categoria-Articulo(name='Categoria')
                        option(value='1') Contaminación
                        option(value='2') Ecología
                        option(value='3') Biodiversidad
                .campo-edit
                    textarea#contenido
                .enviar
                    input(type="submit" value="Guardar" class="button")
                    a.button(href='#') Cancelar



