mixin crearArticulo(proyectos = {}, proyecto = {})
    pre #{vardump(proyectos)}
    .formularioE
        form#get-data-form(action='/nueva_publicacion'  method="POST")
            legend Favor llenar todos los datos
            .contenedor-campos
                .campo
                    label(for='titulo') Nombre del Artículo
                    input(type='text' name='titulo' placeholder='Ingresa el nombre' id="titulo" value=proyectos.titulo required )
                .campo
                    label Categoría del Artículo
                    select#Categoria-Articulo(name='categoria')
                        option(value='1') Contaminación
                        option(value='2') Ecología
                        option(value='3') Biodiversidad
                .campo
                    label(for='usuario') Creado por
                    input(type='text' name='usuario' placeholder='Ingresa tu nombre' id="usuario" value =proyectos.usuario required )
                .campo-edit
                    textarea#edit(name='contenido')
                    input.button(type="submit" value=`${proyectos.titulo ? 'Guardar' : 'Agregar'}`)

                .enviar
                    //- a.button(href='#') Guardar
                    a.button(href='#') Cancelar
                #data-container
                script(src='/js/getdata.js')



